AWPMetrologist/AWPMetrologist.Client/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64455/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AWPMetrologist.Common.DataModel" />
  <xs:element name="GetMSJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMSJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AWPMetrologist.Common.DataModel" minOccurs="0" name="GetMSJsonResult" nillable="true" type="q1:ArrayOfMeasuringInstrument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMICategoriesJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMICategoriesJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AWPMetrologist.Common.DataModel" minOccurs="0" name="GetMICategoriesJsonResult" nillable="true" type="q2:ArrayOfMICategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMIDevicesJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMIDevicesJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AWPMetrologist.Common.DataModel" minOccurs="0" name="GetMIDevicesJsonResult" nillable="true" type="q3:ArrayOfMIDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMIKindJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMIKindJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AWPMetrologist.Common.DataModel" minOccurs="0" name="GetMIKindJsonResult" nillable="true" type="q4:ArrayOfMIKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerificationPlacesJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerificationPlacesJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AWPMetrologist.Common.DataModel" minOccurs="0" name="GetVerificationPlacesJsonResult" nillable="true" type="q5:ArrayOfVerificationPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>