AWPMetrologist/AWPMetrologist.Client/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64455/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64455/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64455/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AWPMetrologist.Common.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetMSJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMSJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetMSJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMSJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMICategoriesJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMICategoriesJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetMICategoriesJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMICategoriesJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMIDevicesJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMIDevicesJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetMIDevicesJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMIDevicesJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMIKindJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMIKindJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetMIKindJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMIKindJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetVerificationPlacesJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerificationPlacesJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetVerificationPlacesJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerificationPlacesJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetMSJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMSJson" message="tns:IService_GetMSJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMSJsonResponse" message="tns:IService_GetMSJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMICategoriesJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMICategoriesJson" message="tns:IService_GetMICategoriesJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMICategoriesJsonResponse" message="tns:IService_GetMICategoriesJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMIDevicesJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMIDevicesJson" message="tns:IService_GetMIDevicesJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMIDevicesJsonResponse" message="tns:IService_GetMIDevicesJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMIKindJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMIKindJson" message="tns:IService_GetMIKindJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMIKindJsonResponse" message="tns:IService_GetMIKindJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerificationPlacesJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVerificationPlacesJson" message="tns:IService_GetVerificationPlacesJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVerificationPlacesJsonResponse" message="tns:IService_GetVerificationPlacesJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RESTEndPoint" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMSJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetMSJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMICategoriesJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetMICategoriesJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMIDevicesJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetMIDevicesJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMIKindJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetMIKindJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerificationPlacesJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetVerificationPlacesJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="RESTEndPoint" binding="tns:RESTEndPoint">
      <soap:address location="http://localhost:64455/Service.svc/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>