AWPMetrologist/AWPMetrologist.Client/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64455/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AWPMetrologistService.DataContract" />
  <xs:element name="GetMSJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMSJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AWPMetrologistService.DataContract" minOccurs="0" name="GetMSJsonResult" nillable="true" type="q1:ArrayOfMeasuringInstrument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>