AWPMetrologist/AWPMetrologist.Client/Connected Services/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AWPMetrologistService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AWPMetrologistService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMeasuringInstrument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasuringInstrument" nillable="true" type="tns:MeasuringInstrument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasuringInstrument" nillable="true" type="tns:ArrayOfMeasuringInstrument" />
  <xs:complexType name="MeasuringInstrument">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:MICategory" />
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Device" nillable="true" type="tns:MIDevice" />
      <xs:element minOccurs="0" name="Gold" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kind" nillable="true" type="tns:MIKind" />
      <xs:element minOccurs="0" name="MSType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mercury" type="xs:int" />
      <xs:element minOccurs="0" name="Paladium" type="xs:int" />
      <xs:element minOccurs="0" name="Period" type="xs:int" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="tns:VerificationPlace" />
      <xs:element minOccurs="0" name="Platinum" type="xs:int" />
      <xs:element minOccurs="0" name="Silver" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeasuringInstrument" nillable="true" type="tns:MeasuringInstrument" />
  <xs:complexType name="MICategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MICategory" nillable="true" type="tns:MICategory" />
  <xs:complexType name="MIDevice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MIDevice" nillable="true" type="tns:MIDevice" />
  <xs:complexType name="MIKind">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kind" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MIKind" nillable="true" type="tns:MIKind" />
  <xs:complexType name="VerificationPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerificationPlace" nillable="true" type="tns:VerificationPlace" />
</xs:schema>